@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f7f7;
overflow-x:hidden;
}

/* LOGIN PAGE */
.login-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#6A1E2D,#A64D79);
}

.login-box{
  width:400px;
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 15px 40px rgba(0,0,0,.2);
}

.auth-logo{
  width:90px;
  margin-bottom:20px;
}

.login-box h1{
  color:#6A1E2D;
  margin-bottom:10px;
}

.login-box p{
  color:gray;
  margin-bottom:20px;
}

.login-box input{
  width:100%;
  padding:15px;
  margin-top:15px;
  border:1px solid #ddd;
  border-radius:10px;
  outline:none;
}

.login-btn{
  width:100%;
  padding:15px;
  border:none;
  background:#6A1E2D;
  color:white;
  border-radius:10px;
  margin-top:20px;
  cursor:pointer;
  font-size:16px;
}

.register-btn{
  width:100%;
  padding:15px;
  border:none;
  background:black;
  color:white;
  border-radius:10px;
  margin-top:15px;
  cursor:pointer;
  font-size:16px;
}

.forgot-password{
  color:#6A1E2D;
  margin-top:20px;
  cursor:pointer;
  font-weight:600;
}
/* NAVBAR */

.navbar{
position:sticky;
top:0;
background:#6A1E2D;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.logo{
font-size:28px;
font-weight:700;
color:white;
}

.navbar ul{
display:flex;
gap:30px;
}

.navbar li{
color:white;
cursor:pointer;
font-weight:500;
}

.cart-icon{
background:#FFD166;
padding:10px 18px;
border-radius:25px;
font-weight:700;
}

/* HERO */

.hero{
height:85vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
background:
linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?w=1600");
background-size:cover;
background-position:center;
}

.hero-content h1{
font-size:70px;
line-height:1.2;
}

.hero-content p{
margin:20px 0;
font-size:22px;
}

.hero-content input{
width:500px;
padding:18px;
border:none;
outline:none;
border-radius:20px;
font-size:17px;
}

/* CATEGORIES */

.categories{
padding:50px 8%;
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.category-card{
background:white;
padding:18px 35px;
border-radius:20px;
font-size:18px;
font-weight:600;
box-shadow:0 5px 20px rgba(0,0,0,.1);
transition:.3s;
}

.category-card:hover{
background:#6A1E2D;
color:white;
transform:translateY(-5px);
}

/* FOOD CARDS */

.menu{
padding:70px 8%;
}

.food-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:35px;
}

.food-card{
background:white;
border-radius:25px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.1);
transition:.3s;
}

.food-card:hover{
transform:translateY(-10px);
}

.food-card img{
width:100%;
height:230px;
object-fit:cover;
}

.food-info{
padding:25px;
}

.rating{
display:inline-block;
background:green;
color:white;
padding:5px 12px;
border-radius:10px;
margin:10px 0;
}

.price-cart{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
}

.price-cart h3{
color:#6A1E2D;
font-size:30px;
}

.price-cart button{
background:#FFD166;
padding:12px 18px;
border:none;
border-radius:15px;
font-weight:600;
}

/* CART */

.floating-cart{
position:fixed;
bottom:20px;
right:20px;
width:330px;
background:white;
padding:20px;
border-radius:25px;
box-shadow:0 10px 40px rgba(0,0,0,.2);
z-index:1000;
}

.mini-cart-header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.checkout-btn,
.order-btn{
background:#6A1E2D;
color:white;
padding:12px 18px;
border:none;
border-radius:15px;
cursor:pointer;
}

.cart-item{
display:flex;
justify-content:space-between;
margin:15px 0;
}

.bill-box{
border-top:1px solid #ddd;
padding-top:15px;
}

.bill-row{
display:flex;
justify-content:space-between;
margin:12px 0;
}

.total-row{
font-weight:700;
font-size:20px;
}

/* POPUP */

.popup{
position:fixed;
inset:0;
background:rgba(0,0,0,.7);
display:flex;
justify-content:center;
align-items:center;
z-index:2000;
}

.popup-content{
width:700px;
background:white;
padding:40px;
border-radius:30px;
}

.receipt-item{
display:flex;
justify-content:space-between;
margin:15px 0;
}

/* ORDER HISTORY */

.orders-section{
padding:70px 8%;
}

.order-card{
background:white;
padding:25px;
margin-bottom:20px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.1);
}

/* FOOTER */

footer{
background:#6A1E2D;
padding:50px;
text-align:center;
color:white;
margin-top:80px;
}

footer h2{
margin-bottom:15px;
}

/* RESPONSIVE */

@media(max-width:768px){

.hero-content h1{
font-size:42px;
}

.hero-content input{
width:90%;
}

.navbar{
flex-direction:column;
gap:20px;
}

.floating-cart{
width:95%;
right:10px;
}

.popup-content{
width:95%;
}

}