@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#fafafa;
overflow-x:hidden;
}

a{
text-decoration:none;
}

ul{
list-style:none;
}

img{
display:block;
max-width:100%;
}

button{
cursor:pointer;
border:none;
}

#root{
width:100%;
min-height:100vh;
}